@use 'styles/mixins/spacing' as PageSpacing;

.PageContainer {
    height: 100%;
    background-color: var(--off-brand-color);
    display: grid;
    grid-template-rows: var(--nav-height) 1fr auto;

    .ContentContainer {
        @include PageSpacing.layout;
    }
}
