@use 'styles/mixins/breakpoints' as breakpoints;

@mixin layout {
    width: 100%;
    height: 100%;
    margin: auto;

    @include breakpoints.set-max-width('small') {
        max-width: 100%;
    }
}
