.footer {
  width: 100%;
  background-color: var(--primary);

  .footerWrapper {
    margin: auto;
    max-width: var(--max-width);
    height: 100%;
    color: var(--black);
    padding: 2rem var(--horizontal-padding);
    display: grid;
    grid-template-rows: 1fr 2rem;
    grid-gap: 1rem;

    .content {
      display: flex;
      justify-content: space-between;

      img {
        height: 8rem;
        width: auto;
        border-radius: var(--rounded-edges);
      }

      .contact {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-end;

        .socials {
          display: flex;
          gap: 1rem;

          a {
            padding: 0.5rem;
            font-size: 1.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--black);
            background-color: var(--primary);
            border: var(--border-size) solid var(--black);
            border-radius: 50%;
            transition: var(--hover);

            &:hover {
              background-color: var(--black);
              color: var(--primary);
            }
          }
        }

        button {
          width: 100%;
        }
      }
    }

    .copyright {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      font-size: 0.8rem;
      font-weight: 500;
    }

    @media screen and (max-width: 600px) {
      .content {
        flex-direction: column-reverse;
        gap: 1rem;

        img {
          border-radius: var(--rounded-edges);
          width: 70%;
          height: 100%;
          margin: auto;
        }

        .contact {
          align-items: center;
        }
      }
      
      .copyright {
        margin: auto;
      }
    }
  }
}
